<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Email</th>
            <th scope="col">Nota Final</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let alumno of listaAlumnos" [ngClass]="{'aprobado': alumno.notaFinal >= 4 && alumno.notaFinal <=7,
        'promocionado': alumno.notaFinal >= 7,'desaprobado':alumno.notaFinal <4
      }" >
            <td>{{alumno.fullName | uppercase}}</td>
            <td>{{alumno.age | number}}</td>
            <td>{{alumno.email}}</td>
            <td>{{alumno.notaFinal | number}}</td>
        </tr>
    </tbody>
</table>