<h1 mat-dialog-title>ABM Alumnos</h1>
<div mat-dialog-content>
    <form [formGroup]="alumnoForm" (ngSubmit)="onSubmit()" class="w-50">
        <div class="row mb-3">
            <div class="row mb-2">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input [formControl]="nombreControl" type="text"
                        [class.is-invalid]="nombreControl.invalid && nombreControl.touched"
                        class="form-control is-invalid" matInput>
                </mat-form-field>
            </div>
            <div class="row mb-2 ">
                <mat-form-field appearance="fill">
                    <mat-label>Apellido</mat-label>
                    <input [formControl]="apellidoControl" type="text"
                        [class.is-invalid]="apellidoControl.invalid && apellidoControl.touched" class="form-control"
                        matInput>
                </mat-form-field>

            </div>
            <div class="row mb-2">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input [formControl]="emailControl" type="email" class="form-control"
                        [class.is-invalid]="emailControl.invalid && emailControl.touched" matInput>
                </mat-form-field>
            </div>
            <div class="row mb-2">
                <mat-form-field appearance="fill">
                    <mat-label>Edad</mat-label>
                    <input [formControl]="edadControl" type="number" class="form-control"
                        [class.is-invalid]="edadControl.invalid && edadControl.touched" matInput>
                </mat-form-field>
            </div>
            <div class="row mb-2">
                <mat-form-field appearance="fill">
                    <mat-label>Curso</mat-label>
                    <input [formControl]="cursoControl" type="number" class="form-control"
                        [class.is-invalid]="cursoControl.invalid && cursoControl.touched" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row-12">
            <button mat-button (click)="onSubmit()">Crear</button>
        </div>
    </form>
</div>