<h1 mat-dialog-title>ABM Alumnos</h1>
<div mat-dialog-content>
        <mat-card-header>
            <mat-card-title>Crear/Editar Inscripción</mat-card-title>
        </mat-card-header>

        <form [formGroup]="inscripcionForm" (ngSubmit)="onSubmit()">
            <div class="row mb-3">
                <!-- Selección de curso -->
                <div class="row mb-2 ">
                    <mat-form-field>
                        <mat-label>Curso</mat-label>
                        <mat-select formControlName="curso">
                            <mat-option *ngFor="let curso of cursosDataSource.data" [value]="curso">{{ curso.nombre
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row mb-2 ">
                    <!-- Selección de alumno -->
                    <mat-form-field>
                        <mat-label>Alumno</mat-label>
                        <mat-select formControlName="alumno">
                            <mat-option *ngFor="let alumno of alumnosDataSource.data" [value]="alumno">{{
                                alumno.nombre
                                }} {{ alumno.apellido }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>


                <!-- Botón para guardar la inscripción -->
                <div class="row-12">
                    <button mat-button (click)="onSubmit()">Guardar</button>
                </div>
            </div>
        </form>
</div>