<h3>Productos</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Producto 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. A, voluptate aspernatur omnis odit quis eum ea minima quam numquam molestiae quaerat? Consequatur maiores qui omnis quas reiciendis, minima magni repellat!</p>
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Producto 2</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos quaerat vero pariatur a accusamus beatae expedita distinctio animi quibusdam minima. Sed, magnam eius sint obcaecati iure et? Alias, impedit cum.</p>
                    <a href="#" class="btn btn-primary">Agregar</a>
                </div>
            </div>
        </div>
    </div>