<aside>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-4 col-xl-10 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Menu</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item">
                            <a routerLink="/dashboard/alumnos" mat-list-item class="nav-link align-middle">
                                <span class="nav-text">Alumnos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/dashboard/cursos" mat-list-item class="nav-link align-middle">
                                <span class="nav-text">Cursos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/dashboard/inscripciones" mat-list-item class="nav-link align-middle">
                                <span class="nav-text">Inscripciones</span>
                            </a>
                        </li>
                        <button mat-button class="logoutButton" (click)="logout()">
                            <mat-icon>exit_to_app</mat-icon>
                            <span>Cerrar sesión</span>
                        </button>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</aside>